[submodule "server/ccy/lib/forge-std"]
	path = server/ccy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "server/ccy/lib/openzeppelin-contracts"]
	path = server/ccy/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
